
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $font-family: '"Roboto Condensed", "Helvetica Neue", sans-serif'
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angularapp004-primary: mat-palette($mat-deep-purple);
$angularapp004-accent: mat-palette($mat-brown, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angularapp004-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$angularapp004-theme: mat-light-theme($angularapp004-primary, $angularapp004-accent, $angularapp004-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($angularapp004-theme);

@import './app/globalsass';
@import './app/sass-globals/base';
@import './app/sass-globals/typography';

$primary:       mat-palette($mat-deep-purple);
$secondary:     mat-palette($mat-brown, A200, A100, A400);

@import './app/sass-globals/bootstrap-inherited';
@import './app/sass-globals/material-inherited';

html {
    height: 100%;
}
body {
    background-image: url('./assets/body-bg.jpg');
    background-color: #51220E;
    background-repeat: repeat;
    background-position: bottom center;
    background-size: cover;
    font-family: 'Roboto Condensed', "Helvetica Neue", sans-serif;
    line-height: 1.25;
    @media (min-resolution: 120dpi) and (-webkit-min-device-pixel-ratio: 1.2) {
        background-image: url('./assets/body-bg@2x.jpg');
    }
    &.nav-open {
        height: 100%;
        overflow: hidden;
        position: fixed;
        width: 100%;
        z-index: 0;
    }
}

html, body { 
    font-size: rem(16px);
    height: 100%;
}

