.siteheader-comp {
    .nav-wrap {
        button {
            margin: 0 0 0 rem(16px);
        }
    }
}
.site-nav {
    background-color: transparent;
    box-sizing: border-box;
    height: auto;
    position: static;
    right: 0;
    top: 0;
    width: 100%;
    .accessible-megamenu {
        padding: 0 rem(228px) 0 rem(85px);
        width: 100%;
        & > .accessible-megamenu-top-nav-item {
            border-left: rem(1px) solid transparent;
            border: 0;
            max-width: rem(178px);
            width: 20%;
            a[aria-expanded] {
                align-items: center;
                display: flex;
                font-size: rem(18px);
                height: rem(78px);
                justify-content: center;
                padding: rem(16px);
                .ikn {
                    background-color: transparent;
                    margin-top: rem(-12px);
                    opacity: 0;
                    right: 0;
                    text-align: center;
                    top: 100%;
                    width: 100%;
                }
                &.open {
                    .ikn {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .accessible-megamenu-panel {
        border-radius: 0 0 rem(6px) rem(6px);
        box-shadow: 0px 8px 8px 0px rgba(#000, 0.25);
        padding: rem(30px) 0;
        &.open {
            top: auto;
        }
        li {
            padding: rem(15px) 0;
        }
        a {
            display: inline;
            padding: 0;
        }
    }
}
