<div class="main-content">
    <section class="profile-comp">
        <div class="max-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-4 col-xl-3">
                        <div class="profile-wrap">
                            <aside class="user-comp">
                                <div class="img-wrap">
                                    <app-responsive-image [stretch]="true" appResponsiveBreakpoint [imgData]="{
                                        xs: 'https://via.placeholder.com/400x400.png',
                                        xs2: 'https://via.placeholder.com/800x800.png'
                                    }"></app-responsive-image>
                                </div>
                                <div class="text-wrap">
                                    <h1 class="h5">Jane Doe</h1>
                                    <nav class="profile-links">
                                        <ul>
                                            <li><a href="#" class="btn btn-primary btn-lg primary">
                                                <span class="left">
                                                    <i class="material-icons">create</i>
                                                </span>
                                                Edit profile
                                                <span class="right">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                </span>
                                            </a></li>
                                            <li><a href="#" class="btn btn-outline-primary">
                                                <span class="left">
                                                    <i class="material-icons">device_hub</i>
                                                </span>
                                                My followers
                                                <span class="right">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                </span>
                                            </a></li>
                                            <li><a href="#" class="btn btn-outline-primary">
                                                <span class="left">
                                                    <i class="material-icons">restaurant_menu</i>
                                                </span>
                                                My recipes
                                                <span class="right">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                </span>
                                            </a></li>
                                            <li><a href="#" class="btn btn-outline-primary">
                                                <span class="left">
                                                    <i class="material-icons">ondemand_video</i>
                                                </span>
                                                My videos
                                                <span class="right">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                </span>
                                            </a></li>
                                            <li><a href="#" class="btn btn-outline-primary">
                                                <span class="left">
                                                    <i class="material-icons">description</i>
                                                </span>
                                                My articles
                                                <span class="right">
                                                    <i class="material-icons">keyboard_arrow_right</i>
                                                </span>
                                            </a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </aside>                            
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-xl-6">
                        <div class="profile-center">
                            <div class="main-actions">
                                <button type="button" class="btn btn-lg btn-dark">
                                    <i class="material-icons">restaurant_menu</i>
                                    New recipe
                                </button>
                                <button type="button" class="btn btn-lg btn-light">
                                    <i class="material-icons">ondemand_video</i>
                                    New video
                                </button>
                                <button type="button" class="btn btn-lg btn-light">
                                    <i class="material-icons">description</i>
                                    New article
                                </button>
                            </div>
                            <h3>Recent Activity</h3>
                        </div>
                    </div>
                    <div class="col-12 col-xl-3">
                        <div style="background-color: red;">right</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  -->
</div>
