<a *ngIf="tag === 'a'" [href]="href" [title]="title" role="button" class="cta-comp" [ngClass]="generateCssClass(true)">
    <span *ngIf="text" class="txt" [innerHTML]="text"></span> 
    <i *ngIf="icon" class="material-icons" [innerHTML]="icon"></i>
</a>
<button *ngIf="tag === 'button'" [type]="buttontype" role="button" class="cta-comp" [ngClass]="generateCssClass(true)">
    <span *ngIf="text" class="txt" [innerHTML]="text"></span> 
    <i *ngIf="icon" class="material-icons" [innerHTML]="icon"></i>
</button>
<span *ngIf="index !== -1 && !last" [ngClass]="generateCssClass(false)">,&nbsp;</span>